{% extends 'base.html' %}

{% block content %}
<br>
<br>
<figure class="text-center">
<blockquote class="blockquote">
<h2>Welcome to Ramiz's Blog</h2>
</blockquote>
<p class="lead">Check out the latest articles and updates on various topics!</p>
<br>
</figure>
{% if current_user.is_authenticated %}

<figure class="text-center">
<a class="btn btn-dark mr-1" href="{{ url_for('dashboard') }}">Go Back To Dashboard</a>
</figure><br>
<{% else %}

<figure class="text-center">
  <a class="btn btn-secondary mr-1" href="{{ url_for('login') }}">Login</a>  OR 
  <a class="btn btn-dark mr-1" href="{{ url_for('add_user') }}">Register</a>
</figure>
  

	 </div>
   {% endif %}
  
{% endblock %}