{% extends 'base.html' %}

{% block content %}

	{% for message in get_flashed_messages() %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
  		{{ message }}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}

	{% if name %}
	<h1>Update User</h1>

	<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>

            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        {% for our_user in our_users %}
        <tr>
            <td>{{ our_user.id }}</td>
            <td>{{ our_user.name }}</td>
            <td>{{ our_user.username }}</td>
            <td>{{ our_user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
	</table>


	{% else %}
	<h1>Update User</h1>
	<br/>
	<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
	<form action="/update/{{ name_to_update.id }}" method="POST">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control", value = name_to_update.name) }}
		<br/>
		
		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control", value = name_to_update.username) }}
		<br/>

		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control", value = name_to_update.email) }}
		<br/>


		{{ form.submit(class="btn btn-success") }}

	</form>
	</div>
	<br><br>


	{% endif %}
{% endblock %}